{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="DBSCoinnectify" />
        <meta name="author" content="Saeed Anwar" />
        <title>
            {% block head_title %}DBSCoinnectify{% endblock %}
        </title>
        <link rel="icon" href="https://www.dbs.ie/images/default-source/logos/dbs-logo-2019-small.png?sfvrsn=ff5c6eea_2" type="image/icon type">
        <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">

        {% block head_extra %}{% endblock %}
    </head>
    <body class="bg-gradient-to-br from-slate-50 via-gray-100 to-slate-100 text-gray-700">
        {% block body %}
            <header class="bg-gradient-to-r from-indigo-600 via-purple-500 to-pink-500 text-white shadow-lg py-4">
                <div class="container mx-auto px-4">
                    {% include 'core/navbar.html' %}
                </div>
            </header>
            <div class="lg:container lg:mx-auto px-6 py-8 bg-white shadow-lg rounded-lg border border-gray-200">
                {% include 'core/messages.html' %}
                {% block content %}
                <!-- Add content here -->
                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Submit
                    </button>
                </div>
                {% endblock %}
            </div>
            {% include 'core/footer.html' %}
        {% endblock %}
        {% block footer_extra %}{% endblock %}
    </body>
</html>
